// {
//     "presets":[
//         "@babel/preset-env"
//     ],
//     "plugins":[
//         ["@babel/transform-runtime"],
//         ["@babel/plugin-proposal-class-properties"]
//     ]
// }
{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["@babel/transform-runtime",
      {
  
        "regenerator" : true
      }
      ],
      ["@babel/plugin-proposal-class-properties"]
    ]
  }